h1,h4{
text-align: center;
color: #BA4A00; 
font-family: verdana;
	 background: linear-gradient(#ffffcc, #ffe6ff); 
	 text-shadow: 2px 2px #ffb3b3;
	 font-size: 2em;
}
form{
	text-align: center;
	color: #ba4a00;
	 background: #f2d9e6; 
}
legend{
	color: #ff0066;
	font-size: 2em;
}
body{
	text-align: center;
	margin-top : 15%;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 2em;

}
#field1, #field2{
	font-size: 1em;

}
footer{
	text-align: center;
	}
.input2{
	color:#148F77;
	
	 
}
.input3{
	color:#148F77;
	 
}
.button2 {
   background-color: #009999;
   color: #FFFFFF; 
	font-size: 1em; font-family: verdana;
	 align-items: center;
    border: 2px solid #ffffff;
}

.button2:hover {
    background-color: #ffcccc;
    color: #ff6666;
}

.button {
  background-color:#b3ccff ;color: #FFFFFF; 
	font-size: 1em; font-family: verdana;
	 align-items: center;
    transition-duration: 0.4s;
    cursor: pointer;
}